<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BooksMapper">

    <!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
    <resultMap id="booksMap"
        type="study.spring.hellobook.model.Books">
        <result property="id"   		column="id" />
        <result property="title"    	column="title" />
        <result property="writer"   	column="writer" />
        <result property="pub" 			column="pub" />
        <result property="detail" 		column="detail" />
        <result property="genre" 		column="genre" />
        <result property="created_at"	column="created_at" />
        <result property="updated_at"   column="updated_at" />
        <result property="isrent"  		column="isrent" />
        <result property="hide"  		column="hide" />
        <result property="img"  		column="img" />
        <result property="user_id"  	column="user_id" />
        <result property="email"  		column="email" />
        <result property="nickname"  	column="nickname" />
        
    </resultMap>

    <!-- 단일행 조회를 위한 기능 정의 -->
    <select id="selectItem" parameterType="study.spring.hellobook.model.Books" resultMap="booksMap">
        
        SELECT b.id, title, writer, pub, detail, genre, b.created_at, b.updated_at, 
        isrent, hide, img, user_id, email, nickname
        FROM books b 
        INNER JOIN users u 
        ON b.user_id=u.id 
        WHERE b.id = #{id}
        
    </select>

    <!-- 다중행 조회를 위한 기능 정의 -->
    <select id="selectList" parameterType="study.spring.hellobook.model.Books" resultMap="booksMap">
        SELECT b.id, title, writer, pub, detail, genre, b.created_at, b.updated_at, 
        isrent, hide, img, user_id, email, nickname
        FROM books b 
        INNER JOIN users u 
        ON b.user_id=u.id 

        <where>
            <if test="title != null and title != ''">
                title LIKE concat('%', #{title}, '%')
            </if>
        </where>

        ORDER BY id DESC

        <if test="listCount > 0">
            LIMIT #{offset}, #{listCount}
        </if>
    </select>
    <!-- 다중행 조회를 위한 기능 정의 -->
    <select id="selectListOfUser" parameterType="study.spring.hellobook.model.Books" resultMap="booksMap">
        SELECT id, title, writer, pub, detail,genre, created_at, updated_at, isrent, hide, img, user_id
        FROM books 

        <where>
            <if test="title != null and title != ''">
                title LIKE concat('%', #{title}, '%')
            </if>
        </where>

        ORDER BY id DESC

        <if test="listCount > 0">
            LIMIT #{offset}, #{listCount}
        </if>
    </select>

    <!-- 데이터 수 조회를 위한 기능 정의 -->
    <select id="selectCountAll" parameterType="study.spring.hellobook.model.Books" resultType="int">
        SELECT COUNT(*)
        FROM books

        <where>
            <if test="title != null and title != ''">
                title LIKE concat('%', #{title}, '%')
            </if>
        </where>
    </select>

    <!-- 데이터 저장을 위한 기능 정의 -->
    <insert id="insertItem" parameterType="study.spring.hellobook.model.Books" 
	useGeneratedKeys="true" keyProperty="id">
        INSERT INTO books (
           title, writer, pub, detail, genre, created_at, user_id
        ) VALUES (
            #{title}, #{writer}, #{pub}, #{detail}, #{genre}, now(), #{user_id}
        )
    </insert>
    
    
    
    <!-- 데이터 삭제를 위한 기능 정의 -->
    <delete id="deleteItem" parameterType="study.spring.hellobook.model.Books">
        DELETE FROM books WHERE id=#{id}
    </delete>

    <!-- 데이터 갱신을 위한 기능 정의 -->
    <update id="updateItem" parameterType="study.spring.hellobook.model.Books">
        UPDATE books SET
            title=#{title}, writer=#{writer}, pub=#{pub}, detail=#{detail}, genre=#{genre}, updated_at= now(), isrent=#{isrent}, hide=#{hide}, img=#{img}
        WHERE id=#{id}
    </update>
</mapper>